#textdomain wesnoth-The_Dark_Hordes

[scenario]
    id=01_A_New_Chance
    name= _ "A New Chance"
    next_scenario=02_Brother_Against_Brother
    map_file=01_A_New_Chance.map
    {TURNS 38 34 30}
    {DEFAULT_SCHEDULE_DUSK}

    {INTRO_AND_SCENARIO_MUSIC underground.ogg revelation.ogg}
    {EXTRA_SCENARIO_MUSIC snowfall.ogg}
    {EXTRA_SCENARIO_MUSIC gameplay06.ogg}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat both enemy leaders"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha’atel"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    {STORYTXT_INTRO}

    {STARTING_VILLAGES 2 2}
    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 1 3}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        recruit=Walking Corpse,Skeleton,Skeleton Archer,Skeleton Rider
        {GOLD 160 140 120}
        {INCOME 6 4 2}
        user_team_name= _ "team_name^Gwiti"
        facing=se
        fog=yes
        shroud=yes
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Naga Warrior
        id=Xabrak
        name= _ "Xabrak"
        side=2
        canrecruit=yes

        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]

        recruit=Naga Fighter
        {GOLD 20 40 60}
        team_name=enemies
        user_team_name= _ "team_name^Xabrak"
        facing=ne
        {FLAG_VARIANT6 ragged}

        {GENERIC_UNIT 2 (Naga Dirkfang) 8 15}
        {GENERIC_UNIT 2 (Naga Fighter) 10 17}
    [/side]

    [side]
        type=Ogre
        id=Grakarat
        name= _ "Grakarat"
        side=3
        canrecruit=yes

        [ai]
            aggression=0.8
            caution=0.2
            grouping=no
        [/ai]

        recruit=Young Ogre,Troll Whelp
        {GOLD 20 40 60}
        {INCOME 2 4 6}
        team_name=enemies
        user_team_name= _ "team_name^Grakarat"
        facing=sw
        {FLAG_VARIANT6 ragged}

        [unit]
            type=Ogre
            id=Rek Iceheart
            name= _ "Rek Iceheart"
            x,y=26,9
            random_traits=yes
            ai_special=guardian
        [/unit]

        {GENERIC_GUARD_UNIT 3 (Tentacle of the Deep) 18 4}
        {GENERIC_GUARD_UNIT 3 (Tentacle of the Deep) 25 8}

        {GENERIC_UNIT 3 (Young Ogre) 16 10}
        {GENERIC_UNIT 3 (Young Ogre) 17 10}
    [/side]

    {CONTINUOUS_SOUND_SOURCE campfire_gwiti 5 6 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 6}

    {RAIN}

    [event]
        name=start
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Ugh... Am I still breathing? My body still aches..."
        [/message]
        [message]
            speaker=narrator
            message= _ "Gwiti gradually accepted that he had reached some strange beach. The area was quiet but the beastly smell had stayed."
            image=wesnoth-icon.png
        [/message]

        [animate_unit]
            [filter]
                id="Gwiti Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "My shackles are broken. I think, disgustingly, I know that the contrivance of destiny is always ironic... Yet why is there no Nati by my side? Where has he gone?"
        [/message]

        {CLEAR_FOG 1 7 20 2}
        [remove_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=7,20
            radius=3
        [/remove_shroud]

        {CLEAR_FOG 1 34 6 2}
        [remove_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=34,6
            radius=3
        [/remove_shroud]

        [message]
            speaker=Xabrak
            message= _ "Hey! Look over there! A feeble necromancer is approaching us! But strange... I thought all the cults in this land were vanquished by us."
        [/message]
        [message]
            speaker=Grakarat
            message= _ "I hate humans! I hate skeletons! But I love the feel of crushing their bones."
        [/message]

        [place_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=7,20
            radius=3
        [/place_shroud]
        [place_shroud]
            [filter_side]
                side=1
            [/filter_side]
            x,y=34,6
            radius=3
        [/place_shroud]

        {UNCLEAR_FOG}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "... Now it seems I must abandon any consideration and survive from their aggression. Fortunately or unfortunately, there are many bodies left among the ruin that I may evoke. But after I summon them, the time I have left may not be so long."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Xabrak
        [/filter]
        [message]
            speaker=unit
            message= _ "Our plunder ends... by the darkness..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Xabrak
        [/filter]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who is hidden there? I wish you are on my side, though."
            scroll=no
        [/message]

        [unit]
            id="Arkal-Thil"
            name= _ "Arkal-Thil"
            profile=unit_image
            type=Dark Adept
            x=$unit.x
            y=$unit.y
            facing=$unit.facing
            side=1
            overwrite=yes
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_DEXTROUS}
            [/modifications]
        [/unit]
        [redraw]
            clear_shroud=yes
        [/redraw]

        [message]
            speaker="Arkal-Thil"
            message= _ "I almost got murdered by them..."
            sound=magic-dark-big-miss.ogg
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who the hell are you? My guess is that you are the necromancer... right?"
            scroll=no
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Exactly. I am the same kind of person as you. I was one of the followers of the darkness who trained in this land. But those beasts came and slayed our master, and destroyed many of us."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "So, you want your new master? Then you should join my... uprising."
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "Uprising? For what?"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "It would be easier to understand if I say that it is revenge against all the corrupt living? You and other survivors of yours have all been oppressed by the mighty. I need that kind of anger, that kind of grief."
        [/message]
        [message]
            speaker="Arkal-Thil"
            message= _ "It is quite an interesting irony that you remind me of our past. No? In any case, there is no reason to refuse. We will follow you. But in fact, there must be another one who is being held hostage by the ogre."
        [/message]

        [objectives]
            side=1
            [objective]
                condition=win
                description= _ "Defeat both enemy leaders"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha’atel"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Arkal-Thil"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]

        [allow_recruit]
            side=1
            type=Dark Adept
        [/allow_recruit]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Grakarat
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh! I was vanquished!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Grakarat
        [/filter]
        [message]
            speaker="Arkal-Thil"
            message= _ "..."
            scroll=no
        [/message]

        [unit]
            id="Mal-Elena"
            name= _ "Mal-Elena"
            profile=unit_image
            type=Footpad
            gender=female
            x=$unit.x
            y=$unit.y
            facing=$unit.facing
            side=1
            overwrite=yes
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
                [object]
                    [effect]
                        apply_to=new_advancement
                        replace=yes
                        types=Shadow Mage
                        [filter]
                            [filter_wml]
                                level=1
                            [/filter_wml]
                        [/filter]
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [redraw]
            clear_shroud=yes
        [/redraw]

        [message]
            speaker="Mal-Elena"
            message= _ "..."
            sound=magic-faeriefire.ogg
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "..."
            scroll=no
        [/message]
        [message]
            speaker="Mal-Elena"
            message= _ "..."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "..."
        [/message]
        [message]
            speaker="Mal-Elena"
            message= _ "..."
        [/message]

        [allow_recruit]
            side=1
            type=Ghost,Vampire Bat
        [/allow_recruit]
    [/event]

    [event]
        name=enemies defeated
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "..."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "I perish here and now... Even though I have made my escape."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id="Arkal-Thil"
        [/filter]
        [message]
            speaker=unit
            message= _ "I feel the shadows drawing me closer..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Apparently the Wesnothians noticed my escape and sent reinforcements here. All my luck has run out..."
        [/message]
    [/event]
[/scenario]
