#textdomain wesnoth-The_Dark_Hordes

[scenario]
    id=01_A_New_Chance
    name= _ "A New Chance"
    {MAP 01_A_New_Chance.map}
    next_scenario=02_Brother_Against_Brother
    victory_when_enemies_defeated=no
    {TURNS 32 30 28}

    {SCENARIO_MUSIC       "elvish-theme.ogg"} {CONTINUE_PLAYING_STORY_MUSIC_FIRST}
    {EXTRA_SCENARIO_MUSIC "wesnoth-3.ogg"}

    #Introduction
    {STORYTXT_A_NEW_CHANCE}

    {DEFAULT_SCHEDULE_DUSK}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        user_team_name= _ "team_name^Gwiti"
        {UNDEAD_FLAG}

        fog=yes

        {GOLD 115 95 75}
        recruit=Ghost,Ghoul,Skeleton,Skeleton Archer

        # wmllint: recognize Gwiti Ha'atel
        {CHARACTER_STATS_GWITI}
    [/side]

    [side]
        side=2
        team_name=enemies
        user_team_name= _ "team_name^Monsters"
        {RAGGED_FLAG}

        {GOLD 2 4 6}
        {INCOME -2 0 2}
        recruit=Young Ogre

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.25}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}

            {AI_SIMPLE_ALWAYS_ASPECT_VALUE avoid (
                x,y=2-6,2-6
            )}
        [/ai]

        canrecruit=yes
        type=Ogre
        id=Grakarat
        name= _ "Grakarat"
        unrenamable=yes
        facing=nw

        {GENERIC_GUARD_UNIT 2 (Troll Whelp) 5 13}
        {GENERIC_GUARD_UNIT 2 (Ogre)        8 8}
    [/side]

    [side]
        side=3
        team_name=enemies
        user_team_name= _ "team_name^Monsters"
        {FLAG_VARIANT6 ragged}

        {GOLD 2 4 6}
        {INCOME 0 2 4}
        recruit=Naga Fighter

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.25}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
        [/ai]

        canrecruit=yes
        type=Naga Warrior
        id=Xabrak
        name= _ "Xabrak"
        unrenamable=yes
        facing=sw

        {GENERIC_GUARD_UNIT 2 (Walking Corpse) 28 18}
        {GENERIC_GUARD_UNIT 2 (Walking Corpse) 28 19}

        [unit]
            type=Troll Shaman
            id=Rek Iceheart
            name= _ "Rek Iceheart"
            x,y=25,8
            random_traits=yes
            ai_special=guardian
        [/unit]
        [unit]
            type=Orcish Grunt
            id=Gabtur
            name= _ "Gabtur"
            x,y=34,17
            random_traits=yes
            ai_special=guardian
        [/unit]
    [/side]
    # wmllint: validate-on

    {STARTING_VILLAGES 2 1}
    {STARTING_VILLAGES 3 3}
    {STARTING_VILLAGES 1 5}

    {CONTINUOUS_SOUND_SOURCE campfire_gwiti 5 6 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 6}

    [event]
        name=prestart
        {MODIFY_UNIT (id="Gwiti Ha'atel") facing se}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Clear the land of monsters")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Gwiti Ha’atel")}

            {TURNS_RUN_OUT}
            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "My whole body still aches... Where the hell is this strange beach?"
        [/message]

        [message]
            speaker=narrator
            message= _ "The area was blighted. Not one human being was there."
            image="wesnoth-icon.png"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Apparently the dark gods have not yet completely abandoned me. The smell of the beast is in the air around here — perhaps they are the material for testing whether I shall survive. Conveniently for me, this ruin is piled high with corpses."
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            side=2,3
        [/filter]
        [if]
            [have_unit]
                side=2,3
            [/have_unit]
            [else]
                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "With my mighty powers, monsters of this magnitude were not even an enemy!"
                [/message]

                {ALLOW_RECRUIT 1 (Walking Corpse,Vampire Bat,Dark Adept)}

                {ENDLEVEL_VICTORY yes}
            [/else]
        [/if]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]

        [message]
            speaker=unit
            message= _ "Noooo! Not now, not when I have escaped!"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Grakarat
        [/filter]

        [message]
            speaker=unit
            message= _ "Argh! I die!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Grakarat
        [/filter]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who is hiding there?"
        [/message]

        [store_unit]
            variable=ogre_loc
            [filter]
                x=$x1
                y=$y1
            [/filter]
            kill=no
        [/store_unit]

        [kill]
            x=$x1
            y=$y1
            animate=no
            fire_event=no
        [/kill]

        [unit]
            id=Corcyn
            name= _ "Corcyn"
            type=Dark Adept
            unrenamable=yes
            x=$ogre_loc.x
            y=$ogre_loc.y
            facing=$ogre_loc.facing
            side=1
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_DEXTROUS}
                [object]
                    [effect]
                        apply_to=image_mod
                        add=RC(magenta>brown)
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        {CLEAR_VARIABLE ogre_loc}

        [redraw]
            side=1
        [/redraw]

        [message]
            speaker=Corcyn
            message= _ "I almost got eaten by an ogre..."
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "You seem to be necromancer like me. Then come with me. Obey me and you will become more mighty."
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [filter_second]
            id=Xabrak
        [/filter_second]

        [message]
            speaker=unit
            message= _ "Death is good for the nagas that bother you!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Xabrak
        [/filter]

        [message]
            speaker=unit
            message= _ "I am... defeated..."
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "The Wesnothians have discovered my escape! This is not good..."
        [/message]
    [/event]
[/scenario]
