#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Gwitiii

[scenario]
    id=03_Skull_of_Morgorath
    name= _ "The Skull of Morgorath"
    {MAP 03_Skull_of_Morgorath.map}
    next_scenario=04_Mages_And_Elves
    {TURNS 34 32 30}

    {SCENARIO_MUSIC       "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC "journeys_end.ogg"}

    {DEFAULT_SCHEDULE_MORNING}

    {STORYTXT_THE_SKULL_OF_MORGORATH}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        user_team_name= _ "team_name^Gwiti"
        {UNDEAD_FLAG}

        {GOLD 160 140 120}

        # wmllint: recognize Gwiti Ha'atel
        {CHARACTER_STATS_GWITI}
    [/side]

    [side]
        side=2
        team_name=orcs
        user_team_name= _ "team_name^Orcs"
        {RAGGED_FLAG}

        {GOLD 50 70 115}
        {INCOME 0 2 6}
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
        [/ai]

        canrecruit=yes
        type=Orcish Warlord
        id=Karz Gholum
        name= _ "Karz Gholum"
        unrenamable=yes
        facing=sw
    [/side]

    [side]
        side=3
        team_name=orcs
        user_team_name= _ "team_name^Orcs"
        {RAGGED_FLAG}

        {GOLD 50 70 115}
        {INCOME 0 2 6}
        recruit=Orcish Grunt,Orcish Crossbowman,Orcish Archer,Troll Whelp

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
        [/ai]

        canrecruit=yes
        type=Orcish Warlord
        id="Isidal B'Tai"
        name= _ "Isidal B’Tai"
        unrenamable=yes
        facing=nw
    [/side]

    [side]
        side=4
        team_name=orcs
        user_team_name= _ "team_name^Orcs"
        {RAGGED_FLAG}

        {GOLD 60 80 125}
        {INCOME 0 2 6}
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Archer,Troll

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
        [/ai]

        canrecruit=yes
        type=Orcish Warlord
        id=Nakur Kimoni
        name= _ "Nakur Kimoni"
        unrenamable=yes
        facing=nw
    [/side]
    # wmllint: validate-on

    {STARTING_VILLAGES 1 4}
    {STARTING_VILLAGES 2 6}
    {STARTING_VILLAGES 3 7}
    {STARTING_VILLAGES 4 5}

    {CONTINUOUS_SOUND_SOURCE campfire1 31 11 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 1 8}
    {CONTINUOUS_SOUND_SOURCE campfire2 42 21 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 1 8}
    {CONTINUOUS_SOUND_SOURCE campfire3 12 33 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 1 8}

    [event]
        name=prestart
        {MODIFY_UNIT (id="Gwiti Ha'atel") facing se}

        # Initialize the variable
        {VARIABLE warlord_bodycount 0}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Take the Skull of Morgorath")}
            {OBJECTIVE_DEFEAT  ( _ "Death of Gwiti Ha’atel")}
            {OBJECTIVE_DEFEAT  ( _ "Destruction of Leganoth")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "After Gwiti destroyed his brother, he planned to march on Wesnoth to gain his revenge. But a Dark Spirit came to counsel him..."
            image=wesnoth-icon.png
        [/message]

        [move_unit_fake]
            type=Dark Spirit
            x=5,4,3,3,3,4,5,6,7
            y=1,1,2,3,4,4,5,5,5
        [/move_unit_fake]

        [unit]
            # wmllint: recognize Leganoth
            {CHARACTER_STATS_LEGANOTH}
            x,y=7,5
            facing=nw
            side=1
        [/unit]

        [message]
            speaker=Leganoth
            message= _ "Gwitiii... Gwiti!"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "A Dark Spirit? Surely this is a token of my mastery of the undead!"
        [/message]

        [message]
            speaker=Leganoth
            message= _ "Gwiti, do not yet march in pursuit of your revenge. First, you shall go south, against the orcs, and there find the Skull of Morgorath."
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Speak on."
        [/message]

        [message]
            speaker=Leganoth
            message= _ "Do you see the three orc clans of this land? Their banners are topped with skulls, as is their custom. But one of these is the Skull of Morgorath — Take it and your power will grow greater by far."
        [/message]
    [/event]

    [event]
        name=side 2 turn
        [message]
            speaker=Karz Gholum
            message= _ "Look! The undead are getting closer! My brethren, time for battle!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]

        [message]
            speaker=unit
            message= _ "What? I can’t die! Noooo!"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Leganoth
        [/filter]

        [message]
            speaker=unit
            message= _ "You are not worthy of the Skull of Morgorath!"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=last breath
        first_time_only=no
        [filter]
            side=2,3,4
            canrecruit=yes
        [/filter]

        [switch]
            variable=warlord_bodycount
            [case]
                value=0
                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "That skull is powerless!"
                [/message]
            [/case]
            [case]
                value=1
                [message]
                    speaker=Leganoth
                    message= _ "That is not the skull of Morgorath!"
                [/message]
            [/case]
            [case]
                value=2
                [message]
                    speaker=unit
                    message= _ "Oh, no! The undead hordes have taken my banner!"
                [/message]

                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "It is not your banner, and it never was! That skull has marked it as mine since long ago."
                [/message]

                [kill]
                    x=$x1
                    y=$y1
                    animate=yes
                    fire_event=no
                [/kill]

                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "Argh! This is only half of the skull, and near enough to powerless! Begone, Spirit!"
                [/message]

                [kill]
                    id=Leganoth
                    animate=yes
                    fire_event=no
                [/kill]

                {ENDLEVEL_VICTORY yes}
            [/case]
            [else]
                # Complain. This should not happen
                [message]
                    speaker=narrator
                    message= _ "Something is broken, please report."
                    image="wesnoth-icon.png"
                [/message]
            [/else]
        [/switch]
        {VARIABLE_ADD warlord_bodycount 1}
    [/event]

    [event]
        name=victory
        {CLEAR_VARIABLE warlord_bodycount}
    [/event]

    [event]
        name=attack
        [filter]
            id="Gwiti Ha'atel"
        [/filter]

        [message]
            speaker=unit
            message= _ "It’s been a long time since I fought anything myself!"
        [/message]
    [/event]
[/scenario]
