#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Aretu Erzen

[scenario]
    id=07_Confrontation
    name= _ "Confrontation"
    next_scenario=08_Underground_Pool
    map_file=07_Confrontation.map
    {TURNS 32 30 28}
    {DEFAULT_SCHEDULE_DAWN}

    {INTRO_AND_SCENARIO_MUSIC gameplay06.ogg revelation.ogg}
    {EXTRA_SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description= _ "Slay Leonard"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha’atel"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    victory_when_enemies_defeated=no

    {TDH_TRACK {JOURNEY_07_NEW}}

    {STARTING_VILLAGES_ALL 2}
    {STARTING_VILLAGES 1 3}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        {GOLD 180 160 140}
        {INCOME 6 4 2}
        user_team_name= _ "team_name^Gwiti"
        facing=se
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=General
        id=Leonard
        name= _ "Leonard"
        side=2
        canrecruit=yes

        [ai]
            aggression=1.0
            caution=0.2
            leader_value=4
        [/ai]

        recruit=Mage,Cavalryman,Fencer,Bowman,Spearman
        {GOLD 200 300 400}
        {INCOME 10 20 30}
        team_name=mages
        user_team_name= _ "team_name^Wesnothians"
        facing=nw
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        no_leader=yes
        hidden=yes
        side=3

        [ai]
            passive_leader=yes
            recruitment_pattern=healer,fighter,fighter,healer,fighter
            aggression=0.8
            caution=0.2

            [goal]
                name=target
                [criteria]
                    id="Gwiti Ha'atel"
                [/criteria]
                value=6.0
            [/goal]
        [/ai]

        recruit=White Mage,Paladin
        gold=1700
        income=-2
        team_name=mages
        user_team_name= _ "team_name^Wesnothians"
        {FLAG_VARIANT loyalist}
    [/side]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "With the finding of Crelanu’s ancient tome, fresh strength had flowed to Gwiti’s army, and they had made good time. However, Gwiti’s march was halted by Leonard as he reentered Wesnothian territory. The general of several outlying areas, his troops were many but untrained."
            image=wesnoth-icon.png
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I see that your puny kingdom marshals its troops at last."
        [/message]
        [message]
            speaker=Leonard
            message= _ "So you are the one responsible for our defeat at the Stone of Erzen. Die!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Somehow, I have the feeling it is you who will do the dying today. I wonder why?"
        [/message]
        [message]
            speaker=narrator
            message= _ "In truth, Leonard’s army was unprepared and under-equipped, and he had neglected to send word. Luckily, behind him came one whose name was a bane to the undead: Lord Aretu. Gwiti knew that even if he defeated Leonard, his best hope was now to flee into the mountains."
            image=wesnoth-icon.png
        [/message]
        [message]
            speaker=Leonard
            message= _ "I shall slay you myself!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "So this is death... the cold, and black void..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Leonard
        [/filter]
        [message]
            speaker=unit
            message= _ "No! This cannot be true! My king, I have failed..."
        [/message]

        [kill]
            id=Leonard
            fire_event=no
            animate=yes
        [/kill]

        [sound]
            name=horse-canter.wav
        [/sound]

        [unit]
            type=Paladin
            id=Lord Aretu
            name= _ "Lord Aretu"
            x,y=52,40
            facing=nw
            side=3
            canrecruit=yes
        [/unit]
        [modify_side]
            side=3
            hidden=no
            income=60
        [/modify_side]

        [message]
            speaker=Lord Aretu
            message= _ "Leonard is dead? Oh, what a sad day. Come, men, let us destroy those undead!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Only one way lies open now. I must flee where his horses cannot go: the sharp peaks and bottomless caves."
        [/message]

        {HIGHLIGHT_IMAGE 56 1 items/gohere.png ()}

        [scroll_to_unit]
            id="Gwiti Ha'atel"
        [/scroll_to_unit]

        [objectives]
            summary= _ "After the death of Leonard, Gwiti must now achieve a new objective"
            [objective]
                condition=win
                description= _ "Move Gwiti to the end of the mountain pass"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha’atel"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            [filter_location]
                terrain=*^Ii
            [/filter_location]
            side=1
        [/filter]
        [message]
            speaker=Lord Aretu
            message= _ "Return to your master, dark fiend!"
        [/message]
        {THUNDER (
            [teleport]
                [filter]
                    [filter_location]
                        terrain=*^Ii
                    [/filter_location]
                    side=1
                [/filter]
                x=9
                y=14
            [/teleport]
        )}
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            x=56
            y=1
            id="Gwiti Ha'atel"
        [/filter]
        [if]
            [have_unit]
                id=Leonard
                side=2
            [/have_unit]
            [then]
                [message]
                    speaker=Leonard
                    message= _ "Haha, it was a mistake of you to flee there! The pass is blocked, and my troops will slay you now!"
                [/message]
            [/then]
            [else]
                [message]
                    speaker=unit
                    message= _ "Phew... Surely the puny humans will be too tired to follow me now!"
                [/message]
                [endlevel]
                    result=victory
                    bonus=yes
                    {NEW_GOLD_CARRYOVER 60}
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        [unit]
            type=Orcish Warrior
            id=Tanar
            name= _ "Tanar"
            profile=portraits/tanar.png
            unrenamable=yes
            x=57
            y=2
            side=1
            facing=sw
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]

        [message]
            speaker=Tanar
            message= _ "Oh, no, escaping dwarves only to be caught by undead."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who are you? If you are a foe of the Dwarves, I might consider you an ally."
        [/message]
        [message]
            speaker=Tanar
            message= _ "I am Tanar, lord of an orcish clan that dwelt here! My people were driven out by the dwarves. All families count several dead. Please, let us march with you, for only a chance to strike back at the evil Dwarves!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Gladly. I do get so lonely talking to myself, and none of my minions are worth talking to."
        [/message]
        [message]
            speaker=Tanar
            message= _ "Thank you, my new Lord! Never had I thought I would see the day when my people were glad to march alongside skeletons and ghosts."
        [/message]

        [allow_recruit]
            side=1
            type=Orcish Grunt,Orcish Archer,Orcish Assassin
        [/allow_recruit]
    [/event]
[/scenario]
