#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Aretu Erzen

[scenario]
    id=07_Confrontation
    name= _ "Confrontation"
    {MAP 07_Confrontation.map}
    next_scenario=08_Underground_Pool
    {TURNS 32 30 28}

    {SCENARIO_MUSIC       "main_menu.ogg"} {CONTINUE_PLAYING_STORY_MUSIC_FIRST}
    {EXTRA_SCENARIO_MUSIC "revelation.ogg"}

    {STORYTXT_CONFRONTATION}

    {DEFAULT_SCHEDULE}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        user_team_name= _ "team_name^Gwiti"
        {UNDEAD_FLAG}

        {GOLD 220 200 180}

        # wmllint: recognize Gwiti Ha'atel
        {CHARACTER_STATS_GWITI}
    [/side]

    [side]
        side=2
        team_name=enemies
        user_team_name= _ "team_name^Wesnothians"
        {WESNOTH_FLAG}

        {GOLD 140 220 300}
        {INCOME 4 8 12}
        recruit=Spearman,Fencer,Mage,Heavy Infantryman

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_movement yes}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_combat   yes}

            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.95}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.25}
        [/ai]

        canrecruit=yes
        type=General
        id=Leonard
        name= _ "Leonard"
        unrenamable=yes
        facing=nw
    [/side]

    [side]
        side=3
        team_name=enemies
        user_team_name= _ "team_name^Wesnothians"
        {WESNOTH_FLAG}

        gold=3000
        income=50
        recruit=White Mage,Paladin

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_movement yes}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_ignore_bad_combat   yes}

            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   no}

            {AI_SIMPLE_ALWAYS_ASPECT recruitment_pattern "healer,fighter,healer,fighter"}

            # Stop Aretu from charging out of his invincibility box
            {AI_SIMPLE_ALWAYS_ASPECT passive_leader      yes}
        [/ai]

        no_leader=yes
        hidden=yes
    [/side]
    # wmllint: validate-on

    #This is Leonard's country, all the base are belong to him
    {STARTING_VILLAGES_ALL 2}

    {CONTINUOUS_SOUND_SOURCE campfire1 26 14 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 6}
    {CONTINUOUS_SOUND_SOURCE campfire2 20 27 (ambient/campfire.ogg)}
    {SOUND_SOURCE_RANGE 2 6}

    [event]
        name=prestart
        {MODIFY_UNIT (id="Gwiti Ha'atel") facing sw}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY  ( _ "Slay Leonard")}
            {OBJECTIVE_DEFEAT   ( _ "Death of Gwiti Ha’atel")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "With the finding of Crelanu’s ancient tome, fresh strength had flowed to Gwiti’s army, and they had made good time. However, Gwiti’s march was halted by Leonard as he reentered Wesnothian territory. The general of several outlying areas, his troops were many but untrained."
            image="wesnoth-icon.png"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I see that your puny kingdom marshals its troops at last."
        [/message]

        [message]
            speaker=Leonard
            message= _ "So you are the one responsible for our defeat at the Stone of Erzen. Die!"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Somehow, I have the feeling it is you who will do the dying today. I wonder why?"
        [/message]

        [message]
            speaker=narrator
            message= _ "In truth, Leonard’s army was unprepared and under-equipped, and he had neglected to send word. Luckily, behind him came one whose name was a bane to the undead: Lord Aretu. Gwiti knew that even if he defeated Leonard, his best hope was now to flee into the mountains."
            image="wesnoth-icon.png"
        [/message]

        [message]
            speaker=Leonard
            message= _ "I shall slay you myself!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]

        [message]
            speaker=unit
            message= _ "So this is death... the cold, black void"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Leonard
        [/filter]

        [message]
            speaker=unit
            message= _ "No! This cannot be true! My king, I have failed..."
        [/message]

        [kill]
            id=Leonard
            fire_event=no
            animate=yes
        [/kill]

        [unit]
            type=Paladin
            id=Lord Aretu
            name= _ "Lord Aretu"
            x,y=56,31
            canrecruit=yes
            side=3
            unrenamable=yes
            facing=nw
        [/unit]

        [modify_side]
            side=3
            hidden=no
        [/modify_side]

        [message]
            speaker=Lord Aretu
            message= _ "Leonard is dead? Oh, what a sad day. Come, men, let us destroy those undead!"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Only one way lies open now. I must flee where his horses cannot go: the sharp peaks and bottomless caves."
        [/message]

        [scroll_to]
            x,y=40,1
        [/scroll_to]

        {DELAY 1000}

        [scroll_to_unit]
            id="Gwiti Ha'atel"
        [/scroll_to_unit]

        {OBJECTIVES (
            {OBJECTIVE_VICTORY  ( _ "Move Gwiti to the end of the mountain pass")}
            {OBJECTIVE_DEFEAT   ( _ "Death of Gwiti Ha’atel")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    #Lord Aretu will be impossible to kill.
    [event]
        name=moveto
        first_time_only=no
        [filter]
            x=54-58
            y=30-32
            side=1
        [/filter]

        [message]
            speaker=Lord Aretu
            message= _ "Return to your master, dark fiend!"
        [/message]

        [teleport]
            [filter]
                x=54-58
                y=30-32
                side=1
            [/filter]
            x=14
            y=12
        [/teleport]
    [/event]

    #If Leonard is alive, the pass is blocked. Kill him before running!
    [event]
        name=moveto
        first_time_only=no
        [filter]
            x=40
            y=1
            id="Gwiti Ha'atel"
        [/filter]
        [if]
            [have_unit]
                id=Leonard
                side=2
            [/have_unit]
            [then]
                [message]
                    speaker=Leonard
                    message= _ "Haha, it was a mistake of you to flee there! The pass is blocked, and my troops will slay you now!"
                [/message]
            [/then]
            [else]
                [message]
                    speaker=unit
                    message= _ "Phew... Surely the puny humans will be too tired to follow me now!"
                [/message]

                {ENDLEVEL_VICTORY yes}
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        [unit]
            # wmllint: recognize Tanar
            {CHARACTER_STATS_TANAR}
            x,y=40,2
            facing=sw
            side=1
        [/unit]

        [message]
            speaker=Tanar
            message= _ "Oh, no, escaping dwarves only to be caught by undead."
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who are you? If you are a foe of the Dwarves, I might consider you an ally."
        [/message]

        [message]
            speaker=Tanar
            message= _ "I am Tanar, lord of an orcish clan that dwelt here! My people were driven out by the dwarves. All families count several dead. Please, let us march with you, for only a chance to strike back at the evil Dwarves!"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Gladly. I do get so lonely talking to myself, and none of my minions are worth talking to."
        [/message]

        [message]
            speaker=Tanar
            message= _ "Thank you, my new Lord! Never had I thought I would see the day when my people were glad to march alongside skeletons and ghosts."
        [/message]

#       [allow_recruit]
#           side=1
#           type=Orcish Grunt,Orcish Archer,Orcish Assassin
#       [/allow_recruit]
    [/event]
[/scenario]
