#textdomain wesnoth-The_Dark_Hordes

[scenario]
    {UNDER_CONSTRUCTION}
    id=12_Assault_on_Alduin
    name= _ "Assault on Alduin"
    {MAP 12_Assault_on_Alduin.map}
    victory_when_enemies_defeated=no
    next_scenario=13_Landfall

    {TURNS 40 38 36}

    {SCENARIO_MUSIC       "loyalists.ogg"}
    {EXTRA_SCENARIO_MUSIC "nunc_dimittis.ogg"}
    {EXTRA_SCENARIO_MUSIC "suspense.ogg"}

    {STORYTXT_ASSAULT_ON_ALDUIN}

    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {DUSK}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        team_name=undead
        user_team_name= _ "team_name^Gwiti"
        {UNDEAD_FLAG}

        fog=yes
        share_view=yes

        {GOLD 100 120 140}

        # wmllint: recognize Gwiti Ha'atel
        {CHARACTER_STATS_GWITI}

        {GENERIC_UNIT 1 (Skeleton) 21 40}
        {GENERIC_UNIT 1 (Skeleton) 24 43}
        {GENERIC_UNIT 1 (Skeleton) 22 42}

        {GENERIC_UNIT 1 (Skeleton Archer) 23 40}
        {GENERIC_UNIT 1 (Skeleton Archer) 26 42}
        {GENERIC_UNIT 1 (Skeleton Archer) 25 42}
    [/side]

    [side]
        side=2
        controller=null
        team_name=enemies
        user_team_name= _ "team_name^Magi"
        {WESNOTH_FLAG}

        {GOLD 100 120 140}
        recruit=Red Mage,White Mage,Mage

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   offensive}
        [/ai]

        canrecruit=yes
        type=Great Mage
        id=Laellyn
        name= _ "Laellyn"
        unrenamable=yes
        facing=se

        {LOYAL_GUARD_UNIT 2 (Red Mage) 22 25}
        {LOYAL_GUARD_UNIT 2 (Red Mage) 42 29}
        {LOYAL_GUARD_UNIT 2 (Red Mage) 41 35}

        {LOYAL_GUARD_UNIT 2 (Mage) 37 21}
        {LOYAL_GUARD_UNIT 2 (Mage) 38 22}
        {LOYAL_GUARD_UNIT 2 (Mage) 29 28}
        {LOYAL_GUARD_UNIT 2 (Mage) 23 29}
        {LOYAL_GUARD_UNIT 2 (Mage) 44 29}
        {LOYAL_GUARD_UNIT 2 (Mage) 29 33}
        {LOYAL_GUARD_UNIT 2 (Mage) 27 34}
        {LOYAL_GUARD_UNIT 2 (Mage) 41 38}
        {LOYAL_GUARD_UNIT 2 (Mage) 40 39}
    [/side]

    [side]
        side=3
        controller=null
        team_name=enemies
        user_team_name= _ "team_name^Magi"
        {WESNOTH_FLAG}

        {GOLD 120 140 160}
        recruit=White Mage,Mage

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   offensive}
        [/ai]

        canrecruit=yes
        type=Mage of Light
        id=Menvan
        name= _ "Menvan"
        unrenamable=yes
        facing=se
    [/side]

    [side]
        side=4
        controller=null
        team_name=enemies
        user_team_name= _ "team_name^Magi"
        {WESNOTH_FLAG}

        {GOLD 100 120 140}
        recruit=Red Mage,Mage

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   offensive}
        [/ai]

        canrecruit=yes
        type=Arch Mage
        id=Caroran
        name= _ "Caroran"
        unrenamable=yes
        facing=ne
    [/side]

    [side]
        side=5
        controller=null
        team_name=enemies
        user_team_name= _ "team_name^Magi"
        {WESNOTH_FLAG}

        {GOLD 100 120 140}
        recruit=Red Mage,Mage

        {ai/aliases/stable_singleplayer.cfg}
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.75}
            {AI_SIMPLE_ALWAYS_ASPECT caution    0.35}
            {AI_SIMPLE_ALWAYS_ASPECT grouping   offensive}
        [/ai]

        canrecruit=yes
        type=Arch Mage
        id=Aethacyn
        name= _ "Aethacyn"
        unrenamable=yes
        facing=nw
    [/side]

    [side]
        side=6
        controller=null
        team_name=undead
        user_team_name= _ "team_name^Gwiti"
        {UNDEAD_FLAG}

        fog=yes
        share_view=yes

        {GOLD 120 140 160}
        recruit=Dark Adept,Walking Corpse,Vampire Bat,Ghost,Ghoul

        no_leader=yes
        hidden=yes
    [/side]

    {STARTING_VILLAGES_ALL 2}

    {STARTING_VILLAGES 3 4}
    {STARTING_VILLAGES 4 4}
    {STARTING_VILLAGES 5 3}
    {STARTING_VILLAGES 6 4}

    [event]
        name=prestart
        {CAPTURE_VILLAGE 1 25 42}
        {CAPTURE_VILLAGE 1 22 44}
        {CAPTURE_VILLAGE 1 27 45}

        {DISALLOW_RECRUIT 1 (Dark Adept,Walking Corpse,Vampire Bat,Ghost,Ghoul)}

        [modify_unit]
            [filter]
                side=1
                [not]
                    ability=submerge
                [/not]
            [/filter]
            side=6
        [/modify_unit]

        # Initialize the variable
        {VARIABLE standby_for_battle no}

        {MODIFY_UNIT (id=Gwiti Ha'atel) facing se}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY  ( _ "Kill all magi above level 1")}
            {OBJECTIVE_DEFEAT   ( _ "Destruction of Gwiti Ha’atel")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER}
        )}
    [/event]

    [event]
        name=start
        [message]
            speaker=narrator
            message= _ "After enjoying the trip by ship, Gwiti himself led the skeletons to invade the coast of Alduin. The area was covered with magical wards, but they had already been weathered by the years and did not impede his path."
            image="wesnoth-icon.png"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "The magic of my artifacts is still effective in this battle..."
        [/message]

        {THUNDER ()}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Now our enemies will not be aware of our presence until we strike first. As soon as the battle begins, my disciple Arkal-Thil will reinforce us from the east. We must surely destroy this den of magi."
        [/message]

        {RISE_UP}
    [/event]

    [event]
        name=attack end
        [filter]
            side=1
        [/filter]

        [role]
            side=2,3,4,5
            role=discoverer
        [/role]

        [message]
            role=discoverer
            message= _ "Attacked by the undead! Protect the Council!"
        [/message]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "They finally realized the danger they were facing, but no longer too late."
        [/message]

        {REPLACE_SCENARIO_MUSIC vengeful.ogg}

        {APPEND_MUSIC the_city_falls.ogg}
        {APPEND_MUSIC heavens-remix.ogg}

        [modify_side]
            side=2
            controller=ai
        [/modify_side]
        [modify_side]
            side=3
            controller=ai
        [/modify_side]
        [modify_side]
            side=4
            controller=ai
        [/modify_side]
        [modify_side]
            side=5
            controller=ai
        [/modify_side]
        [modify_side]
            side=6
            controller=human
        [/modify_side]

        {VARIABLE standby_for_battle yes}
    [/event]

    [event]
        name=side 6 turn
        first_time_only=no
        [if]
            {VARIABLE_BOOLEAN_EQUALS standby_for_battle yes}
            [then]
                [item]
                    x=55
                    y=32
                    image="units/transport/transport-galleon.png~RC(magenta>red)"
                [/item]

                [unit]
                    type=Necromancer
                    id="Arkal-Thil"
                    name= _ "Arkal-Thil"
                    placement=leader
                    canrecruit=yes
                    side=6
                    unrenamable=yes
                    facing=nw
                    [modifications]
                        {TRAIT_LOYAL_HERO}
                        {TRAIT_STRONG}
                    [/modifications]
                [/unit]
                [remove_unit_overlay]
                    id="Arkal-Thil"
                    image=misc/hero-icon.png
                [/remove_unit_overlay]

                [modify_side]
                    side=6
                    hidden=no
                [/modify_side]

                [redraw]
                    side=1,6
                [/redraw]

                [message]
                    speaker="Arkal-Thil"
                    message= _ "Master! We finally arrived!"
                [/message]

                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "Now is the time to eradicate all magi. We must search the whole island and wipe them out."
                [/message]

                [message]
                    speaker="Arkal-Thil"
                    message= _ "Understood."
                [/message]

                {CLEAR_VARIABLE standby_for_battle}
            [/then]
        [/if]
    [/event]

    [event]
        name=last breath
        first_time_only=no
        [filter]
            side=2,3,4,5
            canrecruit=yes
        [/filter]
        [if]
            [have_unit]
                side=2,3,4,5
                canrecruit=yes
            [/have_unit]
            [else]
                [message]
                    speaker=unit
                    message= _ "Unbelievable! Have we been defeated by them?!"
                [/message]

                [if]
                    [have_unit]
                        side=2,3,4,5
                    [/have_unit]
                    [then]
                        [message]
                            speaker="Gwiti Ha'atel"
                            message= _ "Kill every last one of them, and their blood will be food for my purpose!"
                        [/message]
                    [/then]
                [/if]

                [scroll_to_unit]
                    x=$x1
                    y=$y1
                [/scroll_to_unit]
            [/else]
        [/if]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            side=2,3,4,5
        [/filter]
        [if]
            [have_unit]
                side=2,3,4,5
            [/have_unit]
            [else]
                [message]
                    speaker="Gwiti Ha'atel"
                    message= _ "Now all the fools who stand in my way are gone!"
                [/message]

                {ENDLEVEL_VICTORY yes}
            [/else]
        [/if]
    [/event]

    [event]
        name=victory
        {ALLOW_RECRUIT 1 (Dark Adept,Walking Corpse,Vampire Bat,Ghost,Ghoul)}

        [modify_unit]
            [filter]
                id="Arkal-Thil"
            [/filter]
            canrecruit=no
            {IS_LOYAL}
        [/modify_unit]

        {MODIFY_UNIT (side=6) side 1}
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]

        [message]
            speaker=unit
            message= _ "What? I can’t die! Noooo!"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=die
        [filter_second]
            id="Gwiti Ha'atel"
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "There is no sense in you poor beings resisting me!"
        [/message]
    [/event]
[/scenario]
