#textdomain wesnoth-The_Dark_Hordes

[scenario]
    id=14_Ambush
    name= _ "Ambush"
    next_scenario=15_The_Crown_Prince
    map_file=14_Ambush.map
    {TURNS 28 26 24}
    {DEFAULT_SCHEDULE_DAWN}

    {INTRO_AND_SCENARIO_MUSIC battle-epic.ogg revelation.ogg}
    {EXTRA_SCENARIO_MUSIC journeys_end.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description= _ "Defeat Elynia"
            [/objective]
            [objective]
                condition=lose
                description= _ "Destruction of Gwiti Ha’atel"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=60
            [/gold_carryover]
        [/objectives]
    [/event]

    {STORYTXT_AMBUSH}
    {TDH_TRACK {JOURNEY_14_NEW}}

    {STARTING_VILLAGES 1 4}
    {STARTING_VILLAGES 2 10}

    [side]
        type=Demilich
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        {GOLD 140 120 100}
        {INCOME 4 2 0}
        user_team_name= _ "team_name^Gwiti"
        facing=ne
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Elvish Enchantress
        id=Elynia
        name= _ "Elynia"
        profile=portraits/elynia.png
        side=2
        canrecruit=yes

        [ai]
            aggression=1.0
            caution=0.0
            leader_value=2
        [/ai]

        recruit=Elvish Fighter,Elvish Hero,Elvish Archer,Elvish Ranger,Elvish Shaman,Elvish Druid,Elvish Sorceress
        {GOLD 240 300 360}
        {INCOME 10 20 30}
        team_name=elves
        user_team_name= _ "team_name^Elynia"
        facing=sw
        {FLAG_VARIANT wood-elvish}
    [/side]

    [side]
        type=Elvish Shyde
        id=Legondra
        name= _ "Legondra"
        side=3
        canrecruit=yes

        [ai]
            aggression=1.0
            caution=-0.2
            leader_value=2
            [goal]
                name=protect_unit
                [criteria]
                    id=Elynia
                [/criteria]
                value=9.0
            [/goal]
        [/ai]

        recruit=Elvish Fighter,Elvish Hero,Elvish Archer,Elvish Ranger,Elvish Shaman,Elvish Druid,Elvish Sorceress
        {GOLD 160 200 240}
        {INCOME 10 20 30}
        team_name=elves
        user_team_name= _ "team_name^Elynia"
        facing=se
        {FLAG_VARIANT wood-elvish}
    [/side]

    [event]
        name=start
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Who is this foolish elf blocking my way?"
        [/message]
        [message]
            speaker=Elynia
            message= _ "Your wickedness ends here now. There will never be true peace in Irdya as long as dark beings like you roam the ground."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Irdya... When was the last time you heard such an outdated term? And this feeble girl claims to be the one to defeat me?"
        [/message]
        [message]
            speaker=Elynia
            message= _ "My name is Elynia, and by my name you will disappear from this world!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Elynia? I cannot believe it. I have heard that name before. So, you are the elf mentioned in the lore who slayed Mizenwyn?"
        [/message]
    [/event]

    [event]
        name=turn 7
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Foolish Elynia, you cannot thwart my purpose. For I am truly the mighty one, the purveyor of revenge, the lord of darkness."
        [/message]
        [message]
            speaker=Elynia
            message= _ "You are dirty necromancer! The power you have is not your own. It is the false terror caused by lust."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Hmph! That is not even an issue for me."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "What? I can’t die! Noooo!"
        [/message]
        [message]
            speaker=Elynia
            message= _ "As I first declared, you have been defeated by me. Go back to the darkness where you were!"
        [/message]
        [message]
            speaker=unit
            message= _ "This is nonsense... But all my days are over."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Elynia
        [/filter]
        [message]
            speaker=unit
            message= _ "Ugh!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I shall show some mercy to a wretched being like you. You are mortally wounded and going to die. But you will not join my army. You will return to the earth forever, as you elves foolishly hope."
            scroll=no
        [/message]

        [kill]
            id=Elynia
            fire_event=no
            animate=no
        [/kill]

        [redraw][/redraw]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 60}
        [/endlevel]
    [/event]
[/scenario]
