#textdomain wesnoth-The_Dark_Hordes

# wmlscope: set export=no
# wmlindent: start ignoring

[textdomain]
    name="wesnoth-The_Dark_Hordes"
    path="data/add-ons/The_Dark_Hordes/translations"
[/textdomain]

# wmllint: validate-off

#undef TDH_SHARED_DESCRIPTION_FOOTER
#undef TDH_SHARED_ATTRIBUTES

#define TDH_SHARED_DESCRIPTION_FOOTER
"

<span color='#a69275' size='smaller'>"+
_"Version"+" {~add-ons/The_Dark_Hordes/dist/VERSION} "+{TDH_WESNOTH_VERSION_SUPPORT_STATUS}+"
"+_"Feedback and bug reports:"+" https://r.wesnoth.org/t58957"+"</span>" #enddef

#ifver WESNOTH_VERSION < 1.19.0
#define TDH_WESNOTH_VERSION_SUPPORT_STATUS
    _ "for Wesnoth 1.18.0 and later" #enddef
#else
#define TDH_WESNOTH_VERSION_SUPPORT_STATUS
    _ "for Wesnoth 1.19.0 and later (experimental)" #enddef
#endif

#define TDH_SHARED_ATTRIBUTES EPISODE_ID_SUFFIX EPISODE_SUBTITLE EPISODE_DESCRIPTION
    id=The_Dark_Hordes_{EPISODE_ID_SUFFIX}
    define=CAMPAIGN_THE_DARK_HORDES
    extra_defines=CAMPAIGN_THE_DARK_HORDES_EPISODE_{EPISODE_ID_SUFFIX}
    [modify_unit_type]
        type="Dark Sorcerer"
        remove_advancement="Lich"
    [/modify_unit_type]
    {ENABLE_DEATH_KNIGHT}
    version={~add-ons/The_Dark_Hordes/dist/VERSION}
    abbrev= _ "TDH"
    end_text= _ "To be continued..."
    name= _ "The Dark Hordes"+"
"+{EPISODE_SUBTITLE}
    description={EPISODE_DESCRIPTION}+{TDH_SHARED_DESCRIPTION_FOOTER}
    {~add-ons/The_Dark_Hordes/about.cfg}
#enddef

#define TDH_DIFFICULTY_MENU_ENTRY SYMBOL ICON LABEL DESC DEFAULT
    [difficulty]
        define={SYMBOL}
        image={ICON}+"~RC(magenta>red)"
        label={LABEL}
        description={DESC}
        default={DEFAULT}
    [/difficulty]
#enddef

#define TDH_DIFFICULTY_MENU EASY_LABEL EASY_ICON NORMAL_LABEL NORMAL_ICON HARD_LABEL HARD_ICON
    {TDH_DIFFICULTY_MENU_ENTRY EASY   ({EASY_ICON})   ({EASY_LABEL})   ( _ "Easy")   no }
    {TDH_DIFFICULTY_MENU_ENTRY NORMAL ({NORMAL_ICON}) ({NORMAL_LABEL}) ( _ "Normal") yes}
    {TDH_DIFFICULTY_MENU_ENTRY HARD   ({HARD_ICON})   ({HARD_LABEL})   ( _ "Hard")   no }
#enddef

[campaign]
    {TDH_SHARED_ATTRIBUTES I ( _ "Episode I: Escape the Living") ( _ "This is the tale of an age when the glory of Wesnoth was being transformed into arrogance. The fugitive necromancer Gwiti Ha’atel is resolved to master the undead hordes and exact his revenge against all who have betrayed him. His journey eventually leaves his own hands, morphing into an enormous wave of power...

(Intermediate level, 8 scenarios.)")}
    first_scenario=01_A_New_Chance
    rank=258 # wmllint: ignore
    start_year="1095 YW"
    end_year="1097 YW"
    icon="units/undead-spirit/nightgaunt.png~RC(magenta>purple)"
    background="data/add-ons/The_Dark_Hordes/images/story/shore.webp"
    {TDH_DIFFICULTY_MENU
    ( _ "difficulty_menu^Apprentice")  ("units/human-outlaws/footpad+female.png")
    ( _ "difficulty_menu^Shadow Mage") ("data/campaigns/Eastern_Invasion/images/units/shadow-mage/shadow-mage.png")
    ( _ "difficulty_menu^Shadow Lord") ("data/campaigns/Eastern_Invasion/images/units/shadow-mage/shadow-lord.png")
    }
[/campaign]
[campaign]
    {TDH_SHARED_ATTRIBUTES II ( _ "Episode II: The Death March") ( _ "At last, the deadly forces brought by Gwiti launched their invasion against Wesnoth. As the shadows of his rule terrorize the Kingdom and its people, they turn to the elven enchantress Elynia for their last breath of hope. Will the Light or the Darkness be the one that stands in the end? There was no one who knew, except only one.

(Intermediate level, 6 scenarios.)")}
    first_scenario=09_Assault_on_Alduin
    rank=259 # wmllint: ignore
    start_year="1099 YW"
    end_year="1100 YW"
    icon="data/add-ons/The_Dark_Hordes/images/units/dread-lich.png~RC(magenta>red)"
    background="data/add-ons/The_Dark_Hordes/images/story/erzen.webp"
    {TDH_DIFFICULTY_MENU
    ( _ "difficulty_menu^Seeker") ("data/add-ons/The_Dark_Hordes/images/units/initiate.png")
    ( _ "difficulty_menu^Walker") ("data/add-ons/The_Dark_Hordes/images/units/deathmaster.png")
    ( _ "difficulty_menu^Master") ("data/add-ons/The_Dark_Hordes/images/units/demilich.png")
    }
[/campaign]

#undef TDH_SHARED_ATTRIBUTES
#undef TDH_DIFFICULTY_MENU
#undef TDH_DIFFICULTY_MENU_ENTRY
#undef TDH_WESNOTH_VERSION_SUPPORT_STATUS
#undef TDH_SHARED_DESCRIPTION_FOOTER

# wmllint: validate-on

#ifdef CAMPAIGN_THE_DARK_HORDES
[binary_path]
    path="data/add-ons/The_Dark_Hordes"
[/binary_path]
[binary_path]
    path="data/campaigns/The_Rise_Of_Wesnoth"
[/binary_path]
[binary_path]
    path="data/campaigns/Eastern_Invasion"
[/binary_path]

{~add-ons/The_Dark_Hordes/macros}

[+units]
    {~add-ons/The_Dark_Hordes/units}
    {campaigns/The_Rise_Of_Wesnoth/units/Jevyan.cfg}
    {campaigns/Eastern_Invasion/units/Human_Shadow_Mage.cfg}
    {campaigns/Eastern_Invasion/units/Human_Shadow_Lord.cfg}
[/units]

{~add-ons/The_Dark_Hordes/maps}
{~add-ons/The_Dark_Hordes/scenarios}
#endif
