#textdomain wesnoth-The_Dark_Hordes

[about]
    title= _ "Creator and Original Designer"
    [entry]
        name="Eric J. Mesoy (Circon)"
        comment="who left behind many mysteries and legacies..."
    [/entry]
[/about]
[about]
    title= _ "Campaign Maintenance"
    [entry]
        name="Hiroki Hatanaka (KameRamen)"
        comment="project organizer, information gatherer, gameplay reviser, story editor, release manager, and other coordinator"
    [/entry]
[/about]
[about]
    title= _ "Previous Campaign Maintenance"
    [entry]
        name="Alexander van Gessel (AI/AI0867)"
        comment="former lead designer"
    [/entry]
    [entry]
        name="Dimitar Ilccov (Mythological)"
        comment="if he had not started this endeavor, no one might be here"
    [/entry]
    [entry]
        name="Iris Morelle (Irydacea/shadowm)"
        comment="story editor, still an advisor"
    [/entry]
    [entry]
        name="Stefan von Halenbach (vonHalenbach)"
        comment="one of the founders of the completion project"
    [/entry]
[/about]
[about]
    title= _ "Map Design Assistance"
    [entry]
        name="GreenScarab"
        comment="S1-S3, S5, S7, S14, S16"
    [/entry]
[/about]
[about]
    title= _ "Graphics"
    [entry]
        name="Hiroki Hatanaka (KameRamen)"
        comment="sprites, other adjustments"
    [/entry]
    [entry]
        name="Kathrin Polikeit (Kitty)"
        comment="portrait for elynia"
    [/entry]
    [entry]
        name="Lukasz Wawrowski (inferno8)"
        comment="terrain graphics"
    [/entry]
    [entry]
        name="Orcish Shyde"
        comment="necromancer-line recolors"
    [/entry]
[/about]
[about]
    title= _ "Additional thanks to"
    [entry]
        name="GreenScarab"
        comment="very helpful suggestions"
    [/entry]
    [entry]
        name="Roge Tebnelok"
        comment="major assistance"
    [/entry]
    [entry]
        name="Refumee"
        comment="legacy version playtester"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="Bruno Wolff III"
        comment="the first maintainer"
    [/entry]
    [entry]
        name="pjr"
        comment="the first person to attempt to complete with the revision"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="Francisco Muñoz (fmunoz)"
        comment="who left some very useful ideas in an ancient thread, part 1"
    [/entry]
    [entry]
        name="Joseph Simmons (Turin)"
        comment="who left some very useful ideas in an ancient thread, part 2"
    [/entry]
    [entry]
        name="yawningdog"
        comment="who left some very useful ideas in an ancient thread, part 3"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="Tahsin Jahin Khalid (Lord-Knightmare)" # wmllint: ignore
        comment="porting to 1.16"
    [/entry]
    [entry]
        name="vghetto"
        comment="porting project leader"
    [/entry]

    {CREDITS_SEPARATOR}

    [entry]
        name="You, for playing this campaign"
    [/entry]
    [entry]
        name="Anyone else I forgot to mention"
    [/entry]
[/about]
