#textdomain wesnoth-The_Dark_Hordes

[about]
    title= _ "Creator and Original Designer"
    [entry]
        name="Circon"
    [/entry]
[/about]
[about]
    title= _ "Campaign Maintenance and Completion"
    [entry]
        name="KameRamen"
    [/entry]
[/about]
[about]
    title= _ "Previous Campaign Maintenance"
    [entry]
        name="Alexander van Gessel (AI/AI0867)"
    [/entry]
    [entry]
        name="Dimitar Ilccov (Mythological)"
    [/entry]
    [entry]
        name="Iris Morelle (Irydacea/shadowm)"
    [/entry]
    [entry]
        name="Stefan von Halenbach (vonHalenbach)"
    [/entry]
[/about]
[about]
    title= _ "Artwork and Graphics Design"
    [entry]
        name="Orcish Shyde"
        comment="New necromancer line recolours"
    [/entry]
    [entry]
        name="KameRamen"
        comment="Additional recolours"
    [/entry]
[/about]
[about]
    title= _ "Music"
    [entry]
        name="Gabriel Silver"
        comment="hervens-remix.ogg"
    [/entry]
    [entry]
        name="Dalas"
        comment="hervens-remix.ogg"
    [/entry]
    [entry]
        name="Dimitar Ilccov (Mythological)"
        comment="wesnoth-3.ogg"
    [/entry]
[/about]
