#textdomain wesnoth-The_Dark_Hordes

# The number of TDH achievements is still very limited and would like to add more.
[achievement_group]
    display_name=_"The Dark Hordes" #wmllint: ignore
    content_for=the_dark_hordes
    [achievement]
        id="tdh_bone_march"
        name= _ "Bone March"
        description= _ "Survive all your revenants in the dungeon."
        icon="data/core/images/attacks/battleaxe-undead.png"
        icon_completed="data/core/images/attacks/battleaxe-undead.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-8-acid.png",0,0)"
    [/achievement]
[/achievement_group]
