#textdomain wesnoth-The_Dark_Hordes

#undef INCLUDE_LOCAL
#undef INCLUDE_CORE
#undef LDR_PREPROCESS

# wmlindent: start ignoring
#define INCLUDE_LOCAL X
{~{LDR_PATH}/{X}}#enddef
#define INCLUDE_CORE X
{{X}}#enddef

#define LDR_PREPROCESS X
{~{LDR_PATH}/{X}}#enddef

# wmlindent: stop ignoring

# NOTE: do not change the order in which these files are preprocessing unless
# you are very sure of what you are doing!

{LDR_PREPROCESS /mainline-strings.cfg      } # Mainline textdomain bindings

{LDR_PREPROCESS /base-utils.cfg            } # Core - essential macros
{LDR_PREPROCESS /base-variables.cfg        } # Core - variable manipulation macros
{LDR_PREPROCESS /base-math.cfg             } # Core - macros for mathemathical operations over variables

{LDR_PREPROCESS /utils                     } # Miscellaneous macros

[+units]
    {LDR_PREPROCESS /units                 } # Campaign unit tree (append)
[/units]

#
# This makes it easy to load the map. This macro may be modified or abandoned
# if the directory configuration needs to be changed.
#
#define MAP __FILE__
    map_file="~{LDR_PATH}/maps/{__FILE__}"
#enddef

{LDR_PREPROCESS /scenarios                 } # Single-player scenarios
