#textdomain wesnoth-units

#define STR_BANEBLADE
_ "baneblade" #enddef

#define STR_CHILL_TEMPEST
_ "chill tempest" #enddef

#define STR_CHILL_WAVE
_ "chill wave" #enddef

#define STR_SHADOW_WAVE
_ "shadow wave" #enddef

#define STR_STAFF
_ "staff" #enddef

#define STR_TOUCH
_ "touch" #enddef

#define STR_WAIL
_ "wail" #enddef
