#textdomain wesnoth-The_Dark_Hordes

# WML gettext helper file to allow for easy inclusion of mainline tstrings that
# are commonly used throughout this campaign, without needing to embed textdomain
# declarations inside other files, which may be confusing and prone to human mistakes.
# They also shut up a bunch of wmllint warnings on "multiple textdomains"

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define STR_BANEBLADE
_ "baneblade" #enddef

#define STR_CHILL_TEMPEST
_ "chill tempest" #enddef

#define STR_CHILL_WAVE
_ "chill wave" #enddef

#define STR_SHADOW_WAVE
_ "shadow wave" #enddef

#define STR_STAFF
_ "staff" #enddef

#define STR_TOUCH
_ "touch" #enddef

#define STR_WAIL
_ "wail" #enddef
