#textdomain wesnoth-The_Dark_Hordes

#define CHARACTER_STATS_GWITI
    id="Gwiti Ha'atel"
    name= _ "Gwiti Ha’atel"
    type=Initiate
    profile="portraits/gwiti.png"
    canrecruit=yes
    unrenamable=yes
#enddef

#define CHARACTER_STATS_LEGANOTH
    id=Leganoth
    name= _ "Leganoth"
    type=Dark Spriit
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL_HERO}
    [/modifications]
#enddef

#define CHARACTER_STATS_TANAR
    id=Tanar
    name= _ "Tanar"
    type=Orcish Warrior
    profile="portraits/tanar.png"
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL_HERO}
        {TRAIT_QUICK}
        [object]
            [effect]
                apply_to=image_mod
                add=RC(magenta>blue)
            [/effect]
        [/object]
    [/modifications]
#enddef

#define CHARACTER_STATS_TANAR_AS_LEADER
    id=Tanar
    name= _ "Tanar"
    type=Orcish Warrior
    profile="portraits/tanar.png"
    canrecruit=yes
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL_HERO}
        {TRAIT_QUICK}
        [object]
            [effect]
                apply_to=image_mod
                add=RC(magenta>blue)
            [/effect]
        [/object]
    [/modifications]
#enddef

#define RECALL_TANAR
    [recall]
        id=Tanar
    [/recall]
#enddef
#define RECALL_TANAR_AT _X _Y
    [recall]
        id=Tanar
        x={_X}
        y={_Y}
    [/recall]
#enddef
