#textdomain wesnoth-The_Dark_Hordes

#define RISE_UP_DEATH_FILTER
    [not]
        [filter_wml]
            [status]
                not_living=yes
            [/status]
        [/filter_wml]
    [/not]
    [not]
        [filter_wml]
            undead_variation=null
        [/filter_wml]
    [/not]
    [not]
        #For example, White Mages
        [has_attack]
            type=arcane
        [/has_attack]
    [/not]
#enddef

#define RISE_UP_KILL_FILTER
    [not]
        #Basically not any type that has plague or eats its victim
        [has_attack]
            special_id=plague
        [/has_attack]
    [/not]
    [not]
        ability=feeding
    [/not]
#enddef

#define RISE_UP_FIRST_DIALOG
    [event]
        name=die
        first_time_only=yes
        [filter]
            {RISE_UP_DEATH_FILTER}
        [/filter]
        [filter_second]
            {RISE_UP_KILL_FILTER}
        [/filter_second]

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Morgorath! Show me your power!"
        [/message]
    [/event]
#enddef

#define RISE_UP
    [event]
        name=die
        first_time_only=no
        [filter]
            {RISE_UP_DEATH_FILTER}
        [/filter]
        [filter_second]
            {RISE_UP_KILL_FILTER}
        [/filter_second]

        [store_unit]
            variable=victim
            [filter]
                x=$x1
                y=$y1
            [/filter]
            kill=no
        [/store_unit]
        [kill]
            x=$x1
            y=$y1
            animate=no
            fire_event=no
        [/kill]
        [sound]
            name=zombie-attack.wav
        [/sound]
        [unit]
            # This will look pretty good as soon as BfW has recruit animations for WCs :)
            animate=yes
            attacks_left=0
            type=Walking Corpse
            x=$victim.x
            y=$victim.y
            # Allows for any future updates to the current undead availability=musthave traits
            random_traits=yes
            moves=0
            resting=no
            side=$morgorath_side
            name=$victim.name
            facing=$victim.facing
            gender=$victim.gender
            variation=$victim.undead_variation
        [/unit]

        {CLEAR_VARIABLE victim}
    [/event]
#enddef
