#textdomain wesnoth-The_Dark_Hordes

#define HERODEATH_GWITI
    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "FIXME"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_ARKAL
    [event]
        name=last breath
        [filter]
            id="Arkal-Thil"
        [/filter]
        [message]
            speaker=unit
            message= _ "I feel the shadows drawing me closer..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define HERODEATH_ELENA
    [event]
        name=last breath
        [filter]
            id="Mal-Elena"
        [/filter]
        [message]
            speaker=unit
            message= _ "FIXME"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef
