#textdomain wesnoth-The_Dark_Hordes

# wmlindent: start ignoring
# wmllint: markcheck off

#define STORYTXT_TITLE_CARD ID MAIN_TITLE
    title="<span color='#BCB088' font='24'>"+{MAIN_TITLE}+"
<span font='16'>"+{ID}+"</span></span>"
#enddef

# wmllint: markcheck on
# wmlindent: stop ignoring

#define STORYTXT_INTRO
    [story]
        [part]
            music=transience.ogg
            story= _ "Gwiti Ha’atel was born the son of a poor farmer in the northern reaches of Wesnoth and grew up alongside his elder brother, Nati, amidst the harsh and barren land. Their parents, determined to lift their sons out of a life of poverty and hardship, saved up bit by bit to enroll Gwiti and Nati into the Royal Academy of Medicine on the outskirts of Weldyn. Gwiti specialized in pharmacology and healing magic, while Nati focused primarily on surgery. Both excelled in their respective fields, maintaining exceptional grades. It was clear to anyone who saw them that they were destined to become among the greatest physicians of their time."
            background=story/intro.webp
        [/part]
        [part]
            story= _ "However, ironically, their fate turned out to be anything but peaceful. In 1094 YW, just as they were about to complete their training and take their first steps as physicians, the Black Plague swept across Wesnoth. This calamity spared no one, regardless of wealth or status, and claimed countless lives. Among the victims were Gwiti and Nati’s parents, who succumbed to the dreadful disease.

The two Ha’atel brothers desperately tried to save their parents using the knowledge they had acquired. However, they came face-to-face with both their inexperience and helplessness. As their parents’ condition gradually, yet unmistakably, worsened, Nati began to despair at the relentless passage of time. Meanwhile, Gwiti, driven to madness, frantically searched through magical tomes for a way to save their future."
            background=story/curse.webp
        [/part]
        [part]
            story= _ "The final tome Gwiti reached was a journal written by one of the corrupted sorcerers. He poured all of his efforts into studying the decayed manuscript, dedicating himself entirely to mastering its magic. Ultimately, Gwiti succeeded in completing an immortality spell that would bind his parents’ lives to this world forever. However, just before performing the ritual, Nati noticed Gwiti’s suspicious behavior. He condemned Gwiti’s attempt, declaring it an act that violated the natural order. In the midst of their argument, their parents’ condition suddenly took a turn for the worse, and soon after, they passed away."
            background=story/tomes.webp
        [/part]
        [part]
            story= _ "After their parents’ deaths, Gwiti severed all ties with his brother. He firmly believed that, had Nati not interfered, their parents would have survived. Clinging to this belief was the only way he could calm his tormented mind. Gwiti abandoned his smile, forsook his happiness, and resolved to live relying solely on his own strength. Whether driven by this resolve or not, he volunteered as a military physician and began a life constantly surrounded by the battlefield."
        [/part]
        [part]
            story= _ "Meanwhile, Nati remained deeply concerned about Gwiti, who seemed determined to lead a life devoid of human warmth. At the same time, Nati found himself dwelling on the book, the root of all their misfortune, that he had taken from Gwiti and sealed away. Several months after the tragedy, still tormented by his thoughts, he absentmindedly flipped through the pages of the tome. That proved to be a fatal mistake for Nati. In that moment, the remnants of Gwiti’s experiments and the sinister curse clinging to the book invaded his mind simultaneously..."
            background=story/magic.webp
        [/part]
        [part]
            music=underground.ogg
            story= _ "In the early summer of 1095 YW, the Ha’atel brothers were dispatched to Erzen’s Stone, a Wesnothian frontier outpost. Gwiti harbored complicated feelings toward Nati, who had followed in his footsteps to become a military physician. At the same time, he couldn’t help but feel a sense of unease regarding Nati’s occasional suspicious behavior and the vast, unsettling magical knowledge his brother now seemed to possess.

Then, one day, an incident occurred that would remain forever etched in Gwiti’s memory. A massive army of northern orcs launched a night assault on Erzen’s Stone. The overwhelming and merciless invasion annihilated the garrison within a single night. The battlefield was stained red with blood, and the lifeless bodies of fallen soldiers lay scattered across the ground. It was in this moment that Gwiti experienced true fear for the first time."
            background=story/erzen.webp
        [/part]
        [part]
            story= _ "However, Gwiti was saved from the depths of despair in a way he could never have anticipated. It came with the screams and dying cries of the orcish warriors echoing across the battlefield. What Gwiti witnessed was Nati raising their fallen allies from the brink of death, commanding them as undead soldiers to fight once more. The battlefield, now teeming with corpses, skeletons, and wandering souls, had transformed into nothing short of a hellish nightmare. The orcs, overcome by fear and chaos, quickly fell into disarray, and the tide of the battle turned."
            background=story/field.webp
        [/part]
        [part]
            story= _ "After a moment of profound shock, Gwiti recalled the unease he had felt toward Nati. Indeed, Nati had been consumed by his pursuit of the forbidden knowledge within that cursed tome, spiraling into corruption. Yet, in the end, Gwiti joined Nati, summoning the undead and giving them orders. In other words, at that critical moment, Gwiti chose to trust Nati once again as his brother. To Gwiti’s eyes, it was undeniable that Nati had fallen into irredeemable evil. And yet, he leaned on him, choosing to stand alongside him. After all, Gwiti realized anew that Nati was the only family he had left in this world."
        [/part]
        [part]
            story= _ "However, their actions were both forbidden and reckless. Amidst the chaos, the cavalry reinforcements arriving at Erzen collided not with the orcs, but with the undead summoned by the brothers. The battle devolved into uncontrolled carnage, with no distinction between friend and foe. What followed was a long and harrowing stretch of relentless violence, until Erzen was reduced to ruins. Nothing remained but rubble and countless casualties. Realizing that his forces were facing defeat, Nati abandoned Gwiti and fled, leaving his brother behind."
        [/part]
        [part]
            story= _ "Isolated and alone, Gwiti was captured as an enemy of the kingdom. During his torture, he desperately cried out for Nati’s name. The Ha’atel brothers’ reunion would come at the moment of their judgment. The people of Wesnoth, terrified of their magic, decided to condemn them to a fate of certain death: banishment to the sea, where they would be left to drown. Mercy was not an option. The same people who had once respected them as physicians now mocked and despised them.

Naturally, Gwiti began to harbor a growing hatred and rage toward those still living. But for Nati, consumed by the curse of the tome, such thoughts no longer occurred. Even when ordered by soldiers, he refused to let go of the book, clinging to it desperately, earning only looks of contempt and resignation from those around him."
            background=story/shore.webp
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S1 _"Revelations"}
            story= _ "The two were placed aboard a rotting, rudderless ship and cast toward the sea, a passage meant to end in death. However, the Mistress of Fate herself intervened. A sudden storm engulfed the vessel carrying Gwiti and Nati. The ship was torn apart, and the brothers were swallowed by the furious waves, separated amidst the chaos. Gwiti’s cries echoed through the storm before they were silenced. Eventually, each brother washed ashore on separate lands. Not even Gwiti could have known that this was the beginning of the Rise of the Dark Hordes..."
        [/part]
    [/story]
#enddef

#define STORYTXT_FRATRICIDE
    [story]
        [part]
            music=revelation.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S2 _"Fratricide"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_PURSUIT_OF_LOSS
    [story]
        [part]
            music=northerners.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S3 _"The Pursuit of Loss"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_LEGACIES_FROM_CRELANU
    [story]
        [part]
            music=revelation.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S4 _"Legacies from Crelanu"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_FORGOTTEN
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S5 _"The Forgotten"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_A_FALSE_REBIRTH
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S6 _"A False Rebirth"}
            music=underground.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_TO_ETERNAL_DEATH
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S7 _"To Eternal Death"}
            music=revelation.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_RETURN_TO_THE_SHADOWS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S8 _"Return to the Shadows"}
            music=into_the_shadows.ogg
        [/part]
    [/story]
#enddef

#define STORYTXT_MAGES_MUST_DIE
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S1 _"Mages Must Die"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_ELYNIA
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S2 _"Elynia"}
            music=elvish-theme.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_A_NIGHT_FOR_WESNOTH
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S3 _"A Night for Wesnoth"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_NORTHERN_ASSASSINS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S4 _"Northern Assassins"}
            music=northerners.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_LAST_ONE
    [story]
        [part]
            music=journeys_end.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S5 _"The Last One"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_REVELATIONS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S6 _"Revelations"}
            music=into_the_shadows.ogg
        [/part]
    [/story]
#enddef
