#textdomain wesnoth-The_Dark_Hordes

# wmlindent: start ignoring
# wmllint: markcheck off

#define STORYTXT_TITLE_CARD ID MAIN_TITLE
    title="<span color='#BCB088' font='24'>"+{MAIN_TITLE}+"
<span font='16'>"+{ID}+"</span></span>"
#enddef

# wmllint: markcheck on
# wmlindent: stop ignoring

#define STORYTXT_INTRO
    [story]
        [part]
            music=transience.ogg
            story= _ "Gwiti Ha’atel was born the son of some poor farmer in northern Wesnoth and grew up amidst the barren land with his elder brother, Nati. Their parents saved their money little by little and enrolled Gwiti and Nati at the Royal Medical Academy outside of Weldyn. In this way, they attempted to lift their sons out of poverty and hardship; Gwiti specialized in pharmacology and restorative magic, and Nati focused primarily on surgery, and both excelled in their respective fields. It was clear to anyone who saw them that they would become one of the great physicians."
            background=story/intro.webp
        [/part]
        [part]
            story= _ "Ironically, however, their fate was the opposite of peaceful: in 1094 YW, just as they were about to complete their training and take their first steps as physicians, the Black Plague swept through Wesnoth. This calamity claimed many victims, regardless of wealth or poverty. Even the parents of Gwiti and Nati were ravaged by the dreaded disease.

The two Ha’atel tried to save their parents with their own knowledge. However, they came face-to-face with their inexperience and helplessness at the same time. As their parents’ condition slowly but clearly worsened, Nati began to despair of the passing of time. Gwiti, on the other hand, frantically gathered through magical tomes and searched for methods to save his parents’ future."
        [/part]
        [part]
            story= _ "The last tome Gwiti reached was the journal written by one of the fallen sorcerers. He studied its decaying readings and devoted all his efforts to mastering its magic. Ultimately, Gwiti completed an immortality spell that would anchor the lives of his parents to this world forever. Just before performing his ritual, however, Nati noticed Gwiti’s suspicious behavior. He denounced Gwiti’s attempt as an act against the natural order of things. And while they were arguing, their parents’ condition suddenly changed, and they soon fell into eternal sleep."
            background=story/tomes.webp
        [/part]
        [part]
            story= _ "After the death of their parents, Gwiti severed all ties with his brother; he firmly believed that, had Nati not intervened, their parents would have survived. With no other option to calm his mind, Gwiti abandoned his smile, his happiness, and resolved to live on his lonesome. Perhaps it was this resolve that led him to volunteer as an army physician, and he began his path of constant commitment to the front lines of battle."
            background=story/curse.webp
        [/part]
        [part]
            story= _ "Meanwhile, Nati remained concerned for Gwiti, who wished to lead the life that had lost its human warmth. At the same time, Nati had been thinking for some time about the book, the root of all their misfortunes, which he had taken from Gwiti’s hands and sealed away. Then, several months after the tragedy, he flipped through the pages of the tome in torment. It was the fatal mistake for Nati. At that moment, his spirit was simultaneously invaded by the traces of Gwiti’s experiments and the insidious curse that clung to the very essence of the tome..."
            background=story/magic.webp
        [/part]
        [part]
            music=underground.ogg
            story= _ "In the early summer of 1095 YW, the Ha’atel brothers were sent to an outpost in Wesnoth called the Stone of Erzen; Gwiti had mixed feelings about Nati, who had followed him to become an army physician. At the same time, however, he was somewhat concerned by Nati’s occasional suspicious behavior and his unusual and vast knowledge of magic.

Then, one day, an incident occurred that will forever be etched in the memory for Gwiti: the great band of the northern orcs launched their night raid against the Stone of Erzen. Their mighty and merciless incursion decimated the fortress guards in one night. The battlefield was stained red with blood, and dead soldiers lay scattered across the ground. It was in this moment that Gwiti experienced true fear for the first time."
        [/part]
        [part]
            story= _ "However, Gwiti was saved from the depths of despair in what he did not expect: the screams and cries of the orcish warriors echoing across the battlefield. What Gwiti witnessed was Nati raising their fallen comrades from the brink of death, commanding them as undead soldiers, and causing them to fight once more. The battlefield, with its mishmash of corpses, skeletons, and souls, had transformed into nothing short of the hellish nightmare. The orcs, overcome with fear and confusion, quickly fell into disarray, and the tide of the battle turned."
            background=story/field.webp
        [/part]
        [part]
            story= _ "Gwiti was intensely upset and then recalled his concern for Nati. In fact, Nati had been corrupted by his pursuit of knowledge from the tome. In the end, however, Gwiti summoned the undead with Nati and gave them their orders. In other words, at the last minute, he trusted Nati again as his brother. In Gwiti’s eyes, it was obvious that Nati had degenerated into irredeemable evil. And yet, he leaned on him, choosing to stand alongside him. After all, Gwiti realized anew that Nati was the only family he had left in this world."
            background=story/tomes.webp
        [/part]
        [part]
            story= _ "However, their actions were both forbidden and reckless. Amidst the chaos, the cavalry reinforcements arriving at Erzen collided not with the orcs, but with the undead summoned by the brothers. The battle devolved into uncontrolled carnage, with no distinction between friend and foe. What followed was long and harrowing stretch of relentless violence, until Erzen was reduced to ruins. Nothing remained but rubble and countless casualties. Realizing that his forces were facing defeat, Nati abandoned Gwiti and fled, leaving his brother behind."
        [/part]
        [part]
            story= _ "Isolated and alone, Gwiti was captured as an enemy of the Kingdom. During his torture, he desperately cried out for Nati’s name. The Ha’atel brothers’ reunion would come at the moment of their judgment. The people of Wesnoth, terrified of their magic, decided to condemn them to the fate of certain death: banishment to the sea, where they would be left to drown. Mercy was not an option. The same people who had once respected them as physicians now mocked and despised them.

Naturally, Gwiti began to harbor growing hatred and rage toward those still living. But for Nati, consumed by the curse of the tome, such thoughts no longer occurred. Even when ordered by soldiers, he refused to let go of the book, clinging to it desperately, earning only looks of contempt and resignation from those around him."
            background=story/shore.webp
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S1 _"A New Chance"}
            story= _ "The two were placed aboard the rotting, rudderless ship and cast toward the sea, their passage meant to end in death. However, the Lady of Fate herself intervened with them. A sudden storm engulfed the vessel carrying Gwiti and Nati. The ship was torn apart, and the brothers were swallowed by the furious waves, separated amidst the chaos. Gwiti’s cries echoed through the storm before they were silenced. Eventually, each brother washed ashore on separate lands. Not even Gwiti could have known that this was the beginning of the Rise of the Dark Hordes..."
        [/part]
    [/story]
#enddef

#define STORYTXT_BROTHER_AGAINST_BROTHER
    [story]
        [part]
            music=revelation.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S2 _"Brother Against Brother"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_SKULL_OF_MORGORATH
    [story]
        [part]
            music=northerners.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S3 _"The Skull of Morgorath"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_MAGES_AND_ELVES
    [story]
        [part]
            music=revelation.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S4 _"Mages and Elves"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_BOOK_OF_CRELANU
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E1S5 _"The Book of Crelanu"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_CONFRONTATION
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S6 _"Confrontation"}
            music=underground.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_DEATH_AND_REBIRTH
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S7 _"Death and Rebirth"}
            music=revelation.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_RETURN_TO_THE_SHADOWS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E1S8 _"Return to the Shadows"}
            music=into_the_shadows.ogg
        [/part]
    [/story]
#enddef

#define STORYTXT_ASSAULT_ON_ALDUIN
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S1 _"Assault on Alduin"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_ELYNIA
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S2 _"Elynia"}
            music=elvish-theme.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_A_NIGHT_FOR_WESNOTH
    [story]
        [part]
            music=underground.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S3 _"A Night for Wesnoth"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_NORTHERN_ASSASSINS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S4 _"Northern Assassins"}
            music=northerners.ogg
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_THE_END_OF_BLOOD
    [story]
        [part]
            music=journeys_end.ogg
            story= _ "..."
        [/part]
        [part]
            {STORYTXT_TITLE_CARD E2S5 _"The End of Blood"}
            story= _ "..."
        [/part]
    [/story]
#enddef

#define STORYTXT_REVELATIONS
    [story]
        [part]
            {STORYTXT_TITLE_CARD E2S6 _"Revelations"}
            music=into_the_shadows.ogg
        [/part]
    [/story]
#enddef
