#textdomain wesnoth-The_Dark_Hordes

#define GENERIC_GUARD_UNIT SIDE TYPE X Y
    [unit]
        side={SIDE}
        type={TYPE}
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
        ai_special=guardian
        upkeep=full
    [/unit]
#enddef

#define LOYAL_GUARD_UNIT SIDE TYPE X Y
    [unit]
        side={SIDE}
        type={TYPE}
        x={X}
        y={Y}
        generate_name=yes
        random_traits=yes
        random_gender=yes
        ai_special=guardian
        upkeep=loyal
    [/unit]
#enddef

#define ANIMATE
    [+unit]
        animate=yes
    [/unit]
#enddef

#define SOUND_SOURCE ID X Y SNDLIST TIMEOUT TRIGGER_CHANCE_P_VAL
    [sound_source]
        id={ID}
        x={X}
        y={Y}
        sounds={SNDLIST}
        delay={TIMEOUT}
        chance={TRIGGER_CHANCE_P_VAL}
    [/sound_source]
#enddef

#define CONTINUOUS_SOUND_SOURCE ID X Y SNDLIST
    {SOUND_SOURCE ({ID}) ({X}) ({Y}) ({SNDLIST}) (0) (100)}
#enddef

#define SOUND_SOURCE_RANGE FULL FADE
    [+sound_source]
        full_range={FULL}
        fade_range={FADE}
    [/sound_source]
#enddef

#define MYSTERIOUS_VOICE MSG
    [message]
        speaker=narrator
        image=misc/blank-hex.png
        caption= _ "male^Mysterious Voice"
        message={MSG}
    [/message]
#enddef

#define RAIN
    [terrain_graphics]
        [tile]
            pos=1
            set_flag=rain
            no_flag=rain
        [/tile]
        [image]
            layer=1
            name=rain/rain-1.png~O(0.5):100,rain/rain-2.png~O(0.5):100,rain/rain-3.png~O(0.5):100,rain/rain-4.png~O(0.5):100,rain/rain-5.png~O(0.5):100
            random_start=yes
        [/image]
    [/terrain_graphics]
    [terrain_graphics]
        [tile]
            x=0
            y=0
            set_flag=rain
            no_flag=rain
        [/tile]
        [image]
            layer=1
            name=rain/rain-1.png~O(0.5):100,rain/rain-2.png~O(0.5):100,rain/rain-3.pngv:100,rain/rain-4.png~O(0.5):100,rain/rain-5.png~O(0.5):100
            random_start=yes
        [/image]
    [/terrain_graphics]
#enddef

#define SNOW
    [terrain_graphics]
        [tile]
            x,y=0,0
        [/tile]
        [image]
            layer=1
            name=snow/SnowSlowR_[0~199].png~FL()~O(0.35):25
            random_start=yes
        [/image]
    [/terrain_graphics]
#enddef
